body {
    background-color: var(--color-orange-300);
    font-family: monospace;
    margin:0;
}


menu {
    display:flex;
    justify-content: space-between;
    padding: var(--size-3);
    margin: 0
}

ul {
    margin: 0
}

a {
    color: var(--color-black);
    text-decoration: none;
}

.group {
    display: flex
}

.group  > li {
    border-right: var(--size-px) solid var(--color-black);
    padding: 0 var(--size-3);
    list-style-type: none
}

.group  li:last-child {
    border:none;
}

.main-content {
    display: flex;
    justify-content: center;
    width: 90vw;
    padding: 5vw
}
i {
    height: var(--size-4);
    width: var(--size-4);
    padding: 0 var(--size-4);
}

form {
    margin: 0;
    height: var(--size-full);
    width: var(--size-full);
}

.search-container {
    display:flex;
    align-items: center;
    background-color: var(--color-white);
    border-radius: var(--radius-full);
    box-shadow: var(--shadow-lg);
    height: var(--size-11);
    width: min(90vw, var(--size-150));
    margin-top: var(--size-56);
}

.sr-only {
    display:none
}

.search-box {
    resize: none;
    border: none;
    outline:none;
    height: var(--size-full);
    width: var(--size-full);
    background-color: transparent;
    line-height: var(--size-10);
    font-size: var(--size-5);
    overflow:hidden;
    margin-top: 2px;
}
